<div>
  <h2>
    Bem-vindo ao Portal DMB 
  </h2>
  <p>Esta é a Página inicial do Portal DMB, utilize o painel lateral para aceder aos seus módulos.
  <p><strong>Se não consegue ver o módulo que pretende, podem existir os seguintes motivos: </strong></p>
  <ul>
    <li>
      O seu acesso ainda não foi configurado.
    </li>
    <li>
      O seu acesso pode ter sido revogado.
    </li>
  </ul>
  <p><strong>Para tentar solucionar o problema, por favor: </strong></p>
  <ul>
    <li>
      Aguarde alguns minutos e tente actualizar a página.
    </li>
    <li>
      Se o problema persistir contacte a manutenção.
    </li>
  </ul>
  <p>
    <a class="btn btn-outline" routerlink="/" routerLinkActive="active" href="/">Actualizar Página</a>
  </p>
</div>
